{% load static %}
<script src="{% static 'admin/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'admin/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'admin/vendor/jquery/jquery.validate.min.js' %}"></script>
<script src="{% static 'admin/js/sb-admin-2.js' %}"></script>
<script src="{% static 'admin/js/toastr.min.js' %}"></script>
<script src="{% static 'admin/js/file.js' %}"></script>
<script src="{% static 'admin/js/jquery.cookie.js' %}"></script>
<script src="{% static 'admin/js/typeahead.bundle.js' %}"></script>
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>