{% extends 'admin_layout.html' %} {% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">General TYpe Master</h1>
</div>
<div class="row">
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <form id="departmentForm">
                    <div class="row">
                        <input type="hidden" id="deptId">
                        <div class="form-group col-md-3">
                            <label for="Name">General Type</label>
                            <input type="text" class="form-control" id="deptName" placeholder="Enter State Name" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="Name">is Active?</label>
                            <div class="input-group">
                                <input type="checkbox" class="form-check" id="dIsActive">
                                <span class="input-group-btn">
                                                      <input type="submit" class="btn btn-primary ml-5" id="submitBtn" value="Add Department">
                                                </span>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-header">
                <i class="fa fa-table"></i> State Details
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="States" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>General Type</th>
                                <th>is Active?</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}{% block scripts %}{% endblock %}