{% extends 'admin_layout.html' %} {% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">General Type Master</h1>
</div>
<div class="row">
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <form id="GenTypeForm">
                    <div class="row">
                        <input type="hidden" id="genId">
                        <div class="form-group col-md-3">
                            <label for="Name">General Type</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter General Type Name" required>
                        </div>
                        <div class="form-group col-md-1">
                            <label for="Name">is Active?</label>
                            <label class="check-container">
                                <input type="checkbox" id="isActive">
                                <span class="checkmark"></span>
                            </label>

                        </div>
                        <div class="form-group col-md-3">
                            <input type="submit" class="btn btn-danger mt-4" id="submitBtn" value="Add General Type">

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="GenTypes" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>General Type</th>
                                <th>is Active?</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}{% block scripts %}
<script>
    //States
    $(document).ready(function() {
        var table = $('#GenTypes').DataTable({
            ajax: {
                url: '/api/masters/gentypes/',
                dataSrc: ""
            },
            columns: [{
                data: 'name'
            }, {
                data: 'isActive',
                render: function(data) {
                    if (data == true)
                        return '<span class="badge badge-success ">Active</span>'
                    else
                        return '<span class="badge badge-danger ">Inactive</span>'
                }
            }, {
                data: 'id',
                render: function(data, type, row) {
                    return '<button type="button " class="btn btn-primary btn-sm edit " data-type=" ' + row.name + ' " data-isactive=' + row.isActive + ' data-gen-id=" ' + data + ' "><i class="fas fa-edit "></i></button>' +
                        '<button type="button " class="btn btn-danger btn-sm ml-2 delete " data-state-id=" ' + data + ' "><i class="fas fa-trash "></i></button>'

                }
            }],
            language: {
                lengthMenu: "_MENU_",
                search: "",
            }
        })


        $('#GenTypes').on('click', '.edit', function() {
            var button = $(this);
            $('#name').val(button.attr('data-type'))
            $('#genId').val(button.attr('data-gen-id'))
            $('#isActive').prop('checked', button.attr('data-isactive') == 'true')
            $('#submitBtn').val('Update General Type')
        })


        $("#GenTypes ").on('click', '.delete', function() {
            var button = $(this);
            $.ajax({
                url: '/api/masters/gentypes/' + button.attr('data-gen-id') + '/',
                method: 'DELETE',
                success: function(data) {
                    table.ajax.reload()
                    toastr.success('General Type Deleted Successfully', 'Success', {
                        positionClass: "toast-top-center "
                    })
                },
                error: function(err) {
                    toastr.error('General Type Deletion failed', 'Error', {
                        positionClass: "toast-top-center "
                    })
                }
            })
        })


        $('#GenTypeForm').submit(function(e) {
            e.preventDefault()
            e.stopImmediatePropagation()
            if ($('#GenTypeForm').valid()) {
                var data = {
                    name: $('#name').val(),
                    isActive: $('#isActive').prop('checked') == true
                }
                var btnText = $('#submitBtn').val();
                var method = 'POST';
                var url = '/api/masters/gentypes/'
                var succesMessage = 'General Type Added Successully '
                if (btnText == 'Update General Type') {
                    method = 'PUT';
                    url = `/api/masters/gentypes/${$('#genId').val()}/ `
                    succesMessage = 'General Type Updated Successfully'
                }
                $.ajax({
                    url: url,
                    data: JSON.stringify(data),
                    method: method,
                    contentType: 'application/json'
                }).done(function(data) {
                    table.ajax.reload()
                    $('#GenTypeForm').trigger('reset')
                    $('#submitBtn').val('Add General Type');
                    toastr.success(succesMessage, 'Success', {
                        positionClass: "toast-top-center "
                    })
                }).fail((err) => {
                    console.log(err)
                    toastr.error('Operation failed', 'Error', {
                        positionClass: "toast-top-center "
                    })
                })
            }
        })
    })
</script>{% endblock %}