{% extends 'admin_layout.html' %} {% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"></h1>
</div>
<div class="row">
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <form id="ieForm">
                    <div class="row">
                        <input type="hidden" id="ieId">
                        <div class="form-group col-md-3">
                            <label for="Name">Type</label>
                            <select name="" id="type" class="form-control">
                                    <option value="Income">Income</option>
                                    <option value="Expenses">Expenses</option>
                                </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="Name">Particular</label>
                            <input type="text" class="form-control" id="particular" placeholder="Enter Particulars" required>
                        </div>
                        <div class="form-group col-md-1">
                            <label for="Name">is Active?</label>
                            <label class="check-container">
                                <input type="checkbox" checked="checked" id="dIsActive">
                                <span class="checkmark"></span>
                            </label>

                        </div>
                        <div class="col-md-2">
                            <input type="submit" class="btn btn-danger mt-5=4" id="submitBtn" value="Add Income">

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="ie" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Slno</th>
                                <th>Type</th>
                                <th>Particular</th>
                                <th>is Active?</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %} {% block scripts%}
<script>
    $(document).ready(function() {
        var table = $("#ie").DataTable({
            ajax: {
                url: '/api/masters/income_expenses',
                dataSrc: ""
            },
            columns: [{
                data: "id"
            }, {
                data: 'Type'
            }, {
                data: 'particular'

            }, {
                data: 'isActive',
                render: function(data) {
                    if (data == true)
                        return '<span class="badge badge-success">Active</span>'
                    else
                        return '<span class="badge badge-danger">Inactive</span>'
                }
            }, {
                data: 'id',
                render: function(data, type, row) {
                    return '<button type="button" class="btn btn-danger btn-sm editie" data-Type=' + row.Type + ' data-particular=' + row.particular + '  data-isactive=' + row.isActive + ' data-Type-id="' + data + '"><i class="fas fa-edit"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ml-2 deleteie" data-Type-id="' + data + '"><i class="fas fa-trash"></i></button>'
                }
            }],
            language: {
                lengthMenu: "_MENU_",
                search: "",
            },
            fnRowCallback: function(nRow, aData, iDisplayIndex) {
                $("td:first", nRow).html(iDisplayIndex + 1);
                return nRow;
            }
        })
        $("#ie").on('click', '.editie', function() {
            var button = $(this);
            $('#type').val(button.attr('data-Type'))
            $('#particular').val(button.attr('data-particular'))
            $('#dIsActive').prop('checked', button.attr('data-isactive'))
            $('#ieId').val(button.attr('data-Type-id'))
            $('#submitBtn').val('Update ie');
        })

        $("#ie").on('click', '.deleteie', function() {
            var button = $(this);
            $.getJSON('/api/masters/income_expenses/' + button.attr('data-Type-id') + '/', {}, function(data) {
                var record = data;
                record.isActive = false;

                $.ajax({
                    data: JSON.stringify(record),
                    method: 'PUT',
                    url: '/api/masters/income_expenses/' + button.attr('data-Type-id') + '/',
                    contentType: 'application/json',
                    success: function(data) {
                        table.ajax.reload()
                        toastr.success('Income/Expenses Deleted Successfully', 'Success', {
                            positionClass: "toast-top-center"
                        })
                    },
                    error: function(err) {
                        console.log(err)
                        toastr.error('Income/Expenses Type Deletion failed', 'Error', {
                            positionClass: "toast-top-center"
                        })
                    }
                })
            })
        })
        $('#ieForm').submit(function(e) {
            e.preventDefault()
            e.stopImmediatePropagation()
            if ($('#ieForm').valid()) {
                var data = {
                    Type: $('#type').val(),
                    particular: $('#particular').val(),
                    isActive: $('#dIsActive').prop('checked') == true
                }
                var btnText = $('#submitBtn').val();
                var method = 'POST';
                var url = '/api/masters/income_expenses/'
                var succesMessage = 'Income and Expenses Added Successully '
                if (btnText == 'Update ie') {
                    method = 'PUT';
                    url = `/api/masters/income_expenses/${$('#ieId').val()}/ `
                    succesMessage = 'Income and Expenses Updated Successfully'
                }
                $.ajax({
                    url: url,
                    data: JSON.stringify(data),
                    method: method,
                    contentType: 'application/json'
                }).done(function(data) {
                    table.ajax.reload()
                    $('#ieForm').trigger('reset')
                    $('#submitBtn').val('Add Income and Expenses');
                    toastr.success(succesMessage, 'Success', {
                        positionClass: "toast-top-center"
                    })
                    s
                }).fail((err) => {
                    console.log(err)
                    toastr.error('Operation failed', 'Error', {
                        positionClass: "toast-top-center"
                    })
                })
            }
        })
    })
</script>
{%endblock%}