{% extends 'admin_layout.html' %} {% load static %}{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"></h1>
</div>
<div class="row">
    <div class="col-md-12">
        <nav>
            <div class="nav nav-tabs nav-fill nav-pills" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="ProTab" data-toggle="tab" href="#Table" role="tab" aria-controls="nav-profile" aria-selected="false">Professionals List</a>
                <a class="nav-item nav-link" id="ProForm" data-toggle="tab" href="#Form" role="tab" aria-controls="nav-home" aria-selected="true">Professionals Form</a>

            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade " id="Form" role="tabpanel" aria-labelledby="ProForm">

                <div class="row">
                    <div class="col-xl-12 col-md-12 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <form id="ProfessionalForm">
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="hidden" id="ProId" name="id">
                                            <div class="p-3">
                                                <div class="row">

                                                    <div class="col-md-12 ml-5 pl-5">
                                                        <div class="wrap-custom-file">
                                                            <input type="file" name="photo" id="image1" accept=".gif, .jpg, .png" />
                                                            <label for="image1">
                                       <span>Select Photo</span>
                                       <i class="fa fa-plus-circle"></i>
                                     </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">Professional Title</label>
                                                    <input type="text" class="form-control" id="titlesCombo" name="title" placeholder="Select title">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">Professional Name</label>
                                                    <input type="text" class="form-control" id="professionalName" name="professionalName" placeholder="Enter Professional Name" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">Designation</label>
                                                    <input type="text" class="form-control" id="designation" name="designation" placeholder="Enter Professional Designation" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">Qualification</label>
                                                    <input type="text" class="form-control" id="qualification" name="qualification" placeholder="Enter Professional Qualification" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">Department</label>
                                                    <input type="text" class="form-control" id="DepartmentCombo" name="department" placeholder="Select Department">

                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">Category</label><br>
                                                    <div class="form-check-inline">
                                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="category" checked="" value="C">C
                                        </label>
                                                    </div>
                                                    <div class="form-check-inline">
                                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="category" value="R">R
                                        </label>
                                                    </div>
                                                    <div class="form-check-inline">
                                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="category" value="D">D
                                        </label>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class=" col-md-4">
                                            <div class="p-3">
                                                <div class="form-group">
                                                    <label for="Name">OP New Visit</label>
                                                    <input type="number" class="form-control" id="OPNewVisit" name="OPNewVisit" placeholder="Enter OP New Visit" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">OP Revisit</label>
                                                    <input type="number" class="form-control" id="OPRevisit" name="OPRevisit" placeholder="Enter OP Re-Visit" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">OP Followup</label>
                                                    <input type="number" class="form-control" id="OPfollowup" name="OPfollowup" placeholder="Enter OP Followup" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">OP Share(%)</label>
                                                    <input type="number" class="form-control" id="OPShare" name="OPShare" placeholder="Enter OP Share(%)" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">OP Share Amount</label>
                                                    <input type="number" class="form-control" id="OPShareamount" name="OPShareamount" placeholder="Enter OP Share Amount" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">IP Share(%)</label>
                                                    <input type="number" class="form-control" id="IPShare" name="IPShare" placeholder="Enter IP Share (%)" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">IP Share Amount</label>
                                                    <input type="number" class="form-control" id="IPShareamount" name="IPShareamount" placeholder="Enter IP Share Amount" required>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="p-3">
                                                <div class="form-group">
                                                    <label for="Name">Licence Number</label>
                                                    <input type="text" class="form-control" id="licenceNo" name="licenceNo" placeholder="Enter License Number" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">Contact Number</label>
                                                    <input type="text" class="form-control" id="contactNo" name="contactNo" placeholder="Enter Contact Number" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">Email</label>
                                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email Address" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">Hospital Name</label>
                                                    <input type="text" class="form-control" id="hospitalName" name="hospitalName" placeholder="Enter Hospital Name" required>

                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">Priority</label>
                                                    <input type="text" class="form-control" id="priority" name="priority" placeholder="Enter Priority Value" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Name">Duration (mins)</label>
                                                    <input type="text" class="form-control" id="duration" name="duration" placeholder="Enter Duation in Mins" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="check-container">
                                                        <input type="checkbox" checked="checked" id="appointment" name="appointment"> Appointment
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="check-container">
                                                        <input type="checkbox" checked="checked" id="token" name="token"> Token
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="check-container">
                                                        <input type="checkbox" checked="checked" id="isActive" name="isActive"> is Active?
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-footer">

                                    <button type="submit" id="SubmitPro" class="btn btn-danger float-right mr-2">
                                                Add Professional
                                            </button>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade show active" id="Table" role="tabpanel" aria-labelledby="ProTab">

                <div class="row">
                    <div class="col-xl-12 col-md-12 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <table class="table table-bordered table-hover" style="width:100%" id="ProfessionalTable">
                                    <thead>
                                        <tr>
                                            <th>Slno</th>
                                            <th>Professional Name</th>
                                            <th>Contact Number</th>
                                            <th>Email</th>
                                            <th>Hospital Name</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}{% block scripts %}
<script>
    $(document).ready(function() {

        map = {}
        $.getJSON('/api/masters/generalTypes/?gentype=Title', {}, function(data) {
            if (data) {
                var departments = []

                $.each(data, function(i, item) {
                    map[item.name] = item
                    departments.push(item.name)
                })
                $("#titlesCombo").autocomplete({
                    source: departments,
                    minLength: 0
                }).focus(function() {
                    $(this).data("uiAutocomplete").search($(this).val());
                });;
            }
        })

        $.getJSON('/api/masters/subdepartmentsList//?isActive=True', {}, function(data) {
            if (data) {
                var departments = []

                $.each(data, function(i, item) {
                    map[`${item.department.name},${item.subDepartment}`] = item
                    departments.push(`${item.department.name},${item.subDepartment}`)
                })
                $("#DepartmentCombo").autocomplete({
                    source: departments,
                    minLength: 0
                }).focus(function() {
                    $(this).data("uiAutocomplete").search($(this).val());
                });;
            }
        })

        var table = $('#ProfessionalTable').DataTable({
            ajax: {
                url: '/api/masters/professional/',
                dataSrc: ''
            },
            columns: [{
                data: "id"
            }, {
                data: 'professionalName'
            }, {
                data: 'contactNo'
            }, {
                data: 'email'
            }, {
                data: 'hospitalName'
            }, {
                data: 'id',
                render: function(data, type, row) {
                    return "<button type='button' class='btn btn-danger btn-sm edit' data-user='" + JSON.stringify(row) + "'><i class='fas fa-edit'></i></button>" +
                        '<button type="button" class="btn btn-danger btn-sm ml-2 delete" data-pro-id="' + data + '"><i class="fas fa-trash"></i></button>'

                }
            }],
            language: {
                lengthMenu: "_MENU_",
                search: "",
            },
            fnRowCallback: function(nRow, aData, iDisplayIndex) {
                $("td:first", nRow).html(iDisplayIndex + 1);
                return nRow;
            }
        })

        $('#ProfessionalTable').on('click', '.edit', function() {
            var button = $(this)
            var user = JSON.parse(button.attr('data-user'))
            formDeserialize(document.getElementById('ProfessionalForm'), user)
            $('#SubmitPro').html('Update Professional')
            $('#ProForm').trigger('click')
        })

        $("#ProfessionalTable").on('click', '.delete', function() {
            var button = $(this);
            $.ajax({
                data: JSON.stringify({
                    isActive: false
                }),
                method: 'PUT',
                url: '/api/masters/professional/' + button.attr('data-pro-id') + '/',
                success: function(data) {
                    table.ajax.reload()
                    toastr.success('Professional Deactivated Successfully', 'Success', {
                        positionClass: "toast-top-center "
                    })
                },
                error: function(err) {
                    toastr.error('Professional Deactivation failed', 'Error', {
                        positionClass: "toast-top-center "
                    })
                }
            })
        })

        function formDeserialize(form, data) {
            const entries = (new URLSearchParams(data)).entries();
            for (const [key, val] of entries) {
                //http://javascript-coder.com/javascript-form/javascript-form-value.phtml
                const input = form.elements[key];
                if (input != undefined) {
                    if (input.type == 'file') {
                        var $file = $('#' + input.id),
                            $label = $file.next('label'),
                            $labelText = $label.find('span'),
                            labelDefault = $labelText.text();
                        var filename = val.split('/').pop()
                        console.log(filename)
                        if (filename) {
                            $label
                                .addClass('file-ok')
                                .css('background-image', 'url(' + val + ')');
                            $labelText.text(filename);
                        } else {
                            $label.removeClass('file-ok');
                            $labelText.text(labelDefault);
                        }
                    } else {

                        switch (input.type) {
                            case 'checkbox':
                                input.checked = !!val;
                                break;
                            case 'select-one':
                                if (val)
                                    input.value = val;
                                else
                                    input.selectedIndex = 0;

                                break;
                            default:
                                input.value = val;
                                break;

                        }

                    }
                }

            }
        }

        $('#ProfessionalForm').submit(function(e) {
            e.preventDefault()
            e.stopImmediatePropagation()

            var data = new FormData(this)
            var action = 'POST'
            var url = '/api/masters/professional/'
            var successMessage = "Professional Added Successfully"
            if ($('#SubmitPro').html() == 'Update Professional') {
                if (document.getElementById('image1').files.length == 0)
                    data.delete('photo')
                action = 'PUT'
                url = `/api/masters/professional/${$('#ProId').val()}/`
                successMessage = "Professional Updated Successfully"
            }
            $.ajax({
                url: url,
                data: data,
                method: action,
                contentType: false,
                processData: false,
                success: function() {
                    $('#ProfessionalForm').trigger('reset')
                    $('#ProTab').trigger('click')
                    table.ajax.reload();
                    toastr.success(successMessage, "Success", {
                        positionClass: 'toast-top-center'
                    })
                },
                error: function(err) {
                    console.log(err)

                    toastr.error("Professional Adding Failed", "Error", {
                        positionClass: 'toast-top-center'
                    })
                }
            })
        })


    })
</script>

{% endblock %}